body{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: Gilroy;
  
}
@font-face {
  font-family: Gilroy;
  src: url(../fonts/Gilroy-Regular.ttf);

}

@font-face {
  font-family: Gilroy-Bold;
  src: url(../fonts/Gilroy-Bold.ttf);
}
@font-face {
  font-family: Gilroy-Medium;
  src: url(../fonts/Gilroy-Medium.ttf);
}

@font-face {
  font-family: Gilroy-ExtraBold;
  src: url(../fonts/Gilroy-ExtraBold.ttf);
  
}

* {
font-family: Gilroy;
}
a.btn-header {
  width: 138px;
  background: #FF2525;
  text-align: center;
  padding: 14px 0px;
  border-radius: 30px;
  color: #fff;
  font-size: 20px;
  border: 2px solid #FF2525;
  font-family: Gilroy-ExtraBold;
  transition: 0.3s all ease;
}
a.btn-header:hover {
  background: transparent;
  color: #FF2525;
  transition: 0.3s all ease;
}

img.image {
    width: 80px;
}
.wrap {
    max-width: 1480px;
    margin: 0 auto;
}
.header {
    background-color: #F8F8F8;
    padding: 30px 40px;
}
.header .wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

  
.nav-right ul  li{
    position: relative;
    font-size: 20px;
    display: inline-block;
    padding: 0px 15px;
    color: #fff;
  }
  a.link:hover {
    color: #FF2525;
 }
 .nav-right ul {
  padding: 0;
}


  a{
    text-decoration: none;
    color: black;
  }
  
  .link{
    position: relative;
  }
  
  .link:after{
    content: '';
    position: absolute;
    width: 0; height: 3px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #FF2525;
    transition: width .2s ease;
    -webkit-transition: width .2s ease;
  }
   
  .link:hover:after{
    width: 100%;
    left: 0;
    background: #FF2525;
    
  }
  
  
  /*END OF CODE*/
  
  #credit{
    position: absolute;
    width: 64px; height: 20px;
    top: 50%; left: 50%;
    margin-top: 40px; margin-left: -38px;
    padding: 6px;
    background: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-align: center;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 7px 8px 0px #eab09d;
    box-shadow: 0 7px 8px 0px #eab09d;
    transition: all .2s ease;
  }
/*banner*/
.banner {
  background-color: #F8F8F8;
  padding: 60px 40px;
}
.header-section {
  text-align: center;
  background-color: #fff;
  border-radius: 30px;
  display: flex;
  width: 300px;
  padding: 8px 0;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
a.fitness {
  margin: 8px;
  font-family: Gilroy-Medium;
 
}
span.bg {
  background: #F8F8F8;
  padding: 8px;
  border-radius: 49px;
  display: inline-block;
}
/*end*/

.text {
  text-align: center;
  font-size: 70px;
  width: 100%;
  font-weight: bold;
  color: #252727;
  font-family: Gilroy-Bold;
}
.header-text {
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
}
.tx-btn {
  text-align: center;
}
a.btn-header-text {
  width: 138px;
  background: #FF2525;
  text-align: center;
  padding: 16px 27px;
  border-radius: 30px;
  color: #fff;
  font-size: 20px;
  border: 2px solid #FF2525;
  font-family: Gilroy-ExtraBold;
  transition: 0.3s all ease;
}
a.btn-header-text:hover {
  background: transparent;
  color: #FF2525;
  transition: 0.3s all ease;
}
.img-mobile {
  text-align: center;
  margin-top: 6%;
}

.feature {
  padding: 80px 40px 80px 40px;
}


a.btn-features {
  display: inline-block;
  border: 1px solid #FF2525;
  padding: 12px;
  border-radius: 26px;
  width: 9%;
  text-align: center;
}
.progress {
  display: block;
  font-size: 70px;
  font-family: Gilroy-Bold;
  max-width: 1230px;
  margin: 40px 0;
  line-height: 85px;
}
img.thumnail {
  width: 100%;
}
.lato {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #586066;
  text-align: center;
  font-size: 50px;
  max-width: 770px;
  margin: 80px auto 40px;
}




 


.box {
  display: flex;
  flex-wrap: wrap;
  font-family: "Inter", sans-serif;
  gap: 15px;
  justify-content: center;
}


.box-item {
  flex: 0 0 32.5%;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  border-radius: 10px;
}

img.color {
  width: 32px;
  background: #F9D9D9;
  border-radius: 35px;
  padding: 9px 9px 8px;
  margin: 0px;
  height: 32px;
}

a.content {
  margin: 0px ;
  display: block;
  font-size: 16px;
}

p#dummy {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  width: 84%;
  font-size: 20px;
  margin: 0px ;
}
.box-size {
  background: #FCFCFC;
  border-radius: 30px;
  padding: 25px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.box-size:hover {
  background: #FF2525;
  cursor: pointer;
  transition: 0.5s all ease;
}
/* Hover effects */
.box-size:hover img.color {
  background-color: #fff;
}

.box-size:hover p#dummy {
  color: #fff;

}

.box-size:hover a.content {
  color: #fff;
  
  cursor: pointer;
}
.black {
  background: #252727;
  padding: 90px 40px;
}


.start {
  text-align: center;
 
}
a.btn-start {
  padding: 12px;
  color: white;
  border: 1px solid #FF2525;
  border-radius: 26px;
  font-family: Gilroy-Medium;
  display: inline-block;
  width: 100px;
}
.get {
  font-family: Gilroy-Bold;
  font-size: 70px;
  font-weight: 400;
  line-height: 85.98px;
  text-align: center;
  color: white;
  margin: 40px 0;

}
.start {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}


p.easy {
  color: white;
  font-family: 'Lato';
  font-size: 20px;
  margin-left: 16px;
  text-align: center;
}

img#img1 {
  width: 100%;
}
h2#app {
  color: white;
  font-family: Inter;
  font-size: 30px;
  font-weight: 700;
  line-height: 36.31px;
  text-align: left;
}
h2#download {
  line-height: 30.15px;
  color: white;
  font-family: Inter;
  font-size: 20px;
  /* margin-top: 12px; */
  width: 87%;
  font-weight: 500;
}
.images-flex > div img {
  height: 393px;
  width: 100%;
  border-radius: 30px;
  object-fit: cover;
}
.images-flex > div {
  width: 25%;
}
.images-flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
  margin-top: 60px;
}
.box-size a {
  font-family: Inter;
  font-size: 30px;
  font-weight: 700;
  line-height: 36.31px;
  text-align: left;
    margin-top: 12px;
}


.img-2 {
  margin-top: 4%;
}
.img-4 {
  margin-top: 4%;
}
.test-monials {
  padding: 80px 80px;
}
p.our-trainer {
  font-family: 'Gilroy-Bold';
  font-size: 30px;
}
.matter {
  display: flex;
  justify-content: space-between;
  /* gap: 30px; */
}
a.no-mater {
 
  width: 32.5%;
  padding: 30px;
}

.images-testmonial {
  display: flex;
  padding: 80px 0px;
  margin: 0px auto;
}
img.test-monials1 {
  width: 90%;
}
.test-2 {
  margin-top: 9%;
}
.test-3 {
  margin-top: 19%;
}
a.tara {
  font-family: 'Inter';
  background: #F5F5F5;
  display: block;
  font-family: 'Inter';
  max-width: 90%;
  margin-top: -2%;
  line-height: 40px;
}
a.btn-header-view {
  width: 138px;
  background: #FF2525;
  text-align: center;
  padding: 10px 0px;
  border-radius: 30px;
  color: #fff;
  font-size: 17px;
  border: 2px solid #FF2525;
  font-family: Gilroy-ExtraBold;
  display: block;
  margin-top: 60px;
  margin-left: 100px;
}
a.btn-header-view:hover{
  background: transparent;
  color: #FF2525;
  transition: 0.3s all ease;
}

.img-fit {
  gap: 49px;
  display: flex;
}
img.test {
  width: 62%;
}
.gym {
  display: flex;
  /* gap: 139px; */
}
/* Ensure the blog section uses flex display */
.blog {
  display: flex;
  justify-content: center; /* Centers content horizontally */
  /* Background color for clarity */
  padding: 50px 0; /* Padding on top and bottom */
}


h2.btn-blog {
  background: #F8F8F8;
  border: 1px solid #FF2525;
  padding: 11px;
  border-radius: 26px;
  display: inline-block;
  width: 9%;
}
.gym {
  width: 100%;
  max-width: 800px; /* Adjust max-width as per your design */
  padding: 20px;
  /* Background color for the gym section */
 
}
.swiper-container {
  position: relative; /* Ensure swiper container is positioned relative */
  width: 100%;
  padding: 20px 0;
  overflow: hidden; /* Hide overflow to prevent text from expanding outside */
}

.swiper-slide {
  position: absolute; /* Position slides absolutely within swiper container */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px; /* Adjust padding as needed */
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease; /* Smooth transition for movement */
}

.swiper-slide.active {
  transform: translateX(0); /* Move active slide to the center */
}

.swiper-slide.prev {
  transform: translateX(-100%); /* Move previous slide to the left */
}

.swiper-slide.next {
  transform: translateX(100%); /* Move next slide to the right */
}
.swiper-horizontals {
  background: #F8F8F8;
  display: inline-block;
  touch-action: pan-y;
  width: 100%;
  height: 600px;
  /* margin-bottom: 20px; */
}
.slide {
  font-weight: 500;
  font-family: Inter;
  font-size: 45px;
  color: #2B2B2B;
  padding: 5px 90px;
}
.slider {
  display: inline-block;


}
.controls {
  display: flex;
  gap: 28px;
  justify-content: end;
}
h2.name {
  color: #586066;
  font-size: large;
  font-family: Inter;
}
button.prev {
  border: none;
  cursor: pointer;
  background: transparent;
  font-size: 50px;
  width: 30px;
  margin-right: 64px;
}
button.next {
  cursor: pointer;
  border: none;
  background: transparent;
  font-size: 50px;
  width: 30px;
  margin-right: 64px;
}
.arrow {
  display: inline-block;
  margin-top: 10%;
}

.star-rating {
  display: inline-block;
  font-size: 1.2em; /* Adjust font size as needed */
}

.star-filled {
  color: #FFCB02; /* Yellow color */
}

.star-empty {
  color: #ccc; /* Color for empty stars */
}

.small {
  color: #D9D9D9;
  position: absolute;
  font-size: 100px;
  left: 54%;
  margin-top: 22px;
}
.gym {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}
.fit {
  width: 50%;
}
.fit1{
  width: 33%;
}

.our-blog {
  padding: 80px 80px;
  position: relative;
}
.new-btn {
  text-align: center;
  font-family: 'Gilroy-Medium';
}
.read-our-blog {
  display: block;
  margin-top: 14px;
  font-family: 'Gilroy-Bold';
  font-size: 70px;
}

img.fit-1{width: 100%;}
a.sport {
  display: block;
  font-family: 'Lato';
  color: #586066;
}
a.good {
  font-family: 'Inter';
  display: block;
  font-weight: 700;
  font-size: 30px;
}
a.Tower {
  font-family: 'Inter';
  display: block;
  font-weight: 700;
  font-size: 30px;
}
a.over {
  font-family: 'Inter';
  display: block;
  font-weight: 700;
  font-size: 30px;
}
a.aiming {
  display: block;
  color: #586066;
  font-family: 'Lato';
  font-weight: 400;
  font-size: 20px;
  padding: 14px 0px;
}
h2.btn-read {
  width: 138px;
  background: #FF2525;
  text-align: center;
  padding: 10px 0px;
  border-radius: 30px;
  color: #fff;
  font-size: 17px;
  border: 2px solid #FF2525;
  font-family: Gilroy-ExtraBold;
  display: inline-block;
  margin-top: 60px;
  margin-left: 110px;
  
 cursor: pointer;

  margin-bottom: 123px;
}
h2.btn-read:hover{ background: transparent;
  color: #FF2525;
  transition: 0.3s all ease;}

  .footer {
    padding: 0px 40px;
    background-color: #252727;
}
.btn-download {
  color: white;
  border: 1px solid #FF2525;
  padding: 16px 20px;
  border-radius: 26px;
}
.stay {
  color: white;
  display: block;
  font-size: 70px;
  font-family: 'Gilroy-Bold';
  margin: 40px 0;
  line-height: 85px;
}
.lore {
  color: white;
  font-family: 'Lato';
  font-size: 16px;
  line-height: 20px;
  display: block;
}
.download {
  width: 40%;
}
.left {
  width: 60%;
}
.footer .wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.apple {
  width: 47%;
  margin-top: 34px;
}
img.play {
  width: 47%;
  margin-left: 14px;

}
img.leftside {
  width: 100%;
  margin-top: -150px;
}


.layout {
  padding: 0px 50px;
}


.social-icons {
  display: flex;
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  color: #0000004A;
  border: 1px solid #333; /* Adjust border color as needed */
  border-radius: 50%; /* Fully rounded corners */
  width: 40px; /* Adjust size as needed */
  height: 40px; /* Adjust size as needed */
  margin-left: 10px; /* Space between icons */
  color: #333; /* Default color */
  font-size: 18px; /* Adjust size as needed */
  text-decoration: none;
  transition: background 0.3s, color 0.3s; /* Smooth transition for hover effect */
}
.social-icon:hover {
  background: #FF2525;
  font-family: Gilroy-Medium;
  color: white;
  border-color: #fff;
}


.left-side {
  font-family: Gilroy-Medium;
  float: left; /* Floats the left side to the left */
}

.right-side {
  font-family: Gilroy-Medium;
  float: right; /* Floats the right side to the right */
}
/* styles.css */
/* styles.css */
.video-container {
  position: relative;
  width: 560px;
  height: 315px;
  margin: 0 auto;
}
.top-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0px;
  font-family: 'Gilroy-Medium';
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  width: 100%;
  float: left;
}
.nav-right {
  font-family: 'Gilroy-Medium';
  font-weight: 400;
  font-size: 20px;
}
.bottom {
  padding: 10px 0px;
  width: 100%;
  float: left;
}
.nav-right ul li a{
  font-family: 'Gilroy-Medium';
}
.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}

.overlay-image {
  max-width: 100%;
  height: 100%;
  max-height: 100%;
}

.play-button {
  background-color: transparent;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -63px;
}s

.play-button:hover {
  background-color: #0056b3;
}

iframe {
  width: 100%;
  height: 100%;
  z-index: 0;
}
.video-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  border-radius: 61px !important;
  overflow: hidden;
  height: 800px;
}

